@charset "UTF-8";
body {
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

i {
  display: inline-block;
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url(../fonts/NanumSquareR.eot);
  src: local("☺"), url(../fonts/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumSquareR.woff) format("woff"), url(../fonts/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url(../fonts/NanumSquareB.eot);
  src: local("☺"), url(../fonts/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumSquareB.woff) format("woff"), url(../fonts/NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  src: url(../fonts/NanumSquareEB.eot);
  src: local("☺"), url(../fonts/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumSquareEB.woff) format("woff"), url(../fonts/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url(../fonts/NanumSquareL.eot);
  src: local("☺"), url(../fonts/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumSquareL.woff) format("woff"), url(../fonts/NanumSquareL.ttf) format("truetype");
}

html {
  font-family: "NanumSquare";
  font-weight: 400;
  letter-spacing: calc(-1.8rem / 48);
  color: #030303;
}

html, body {
  width: 100%;
  height: 100%;
}

.subtit_fs_40 {
  font-size: calc(40rem / 48);
  font-weight: 700;
}

.subtit_fs_42 {
  font-size: calc(42rem / 48);
  font-weight: 400;
  color: #666;
}

.subtit_fs_45 {
  font-size: calc(45rem / 48);
  font-weight: 700;
}

.subtit_fs_46 {
  font-size: calc(46rem / 48);
  font-weight: 400;
}

.subtit_fs_50 {
  font-size: calc(50rem / 48);
  font-weight: 700;
}

[class*=notice_] {
  font-size: calc(40rem / 48);
  line-height: 1.25;
}

[class*=notice_].notice_gray {
  color: #989898;
}

[class*=notice_].notice_red {
  color: #cc3333;
}

[class*=notice_].before_dot::before {
  content: "";
  display: inline-block;
  width: calc(6rem / 48);
  height: calc(6rem / 48);
  background-color: #989898;
  vertical-align: middle;
  margin-right: calc(17rem / 48);
}

[class*=notice_].fs_36 {
  font-size: calc(36rem / 48);
}

.txt_battery_state {
  font-size: calc(45rem / 48);
  font-weight: 800;
}

.txt_battery_state.full {
  color: #2254f3;
}

.txt_battery_state.low {
  color: #ff3333;
}

.txt_model_name {
  font-size: calc(55rem / 48);
  font-weight: 700;
  color: #2254f3;
  text-align: center;
  padding-top: calc(112rem / 48);
}

.txt_curtain_state {
  font-size: calc(42rem / 48);
  font-weight: 700;
  color: #2254f3;
}

.default_pb {
  padding-bottom: calc(200rem / 48);
}

.ofh {
  overflow: hidden;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.pt_20 {
  padding-top: calc(20rem / 48);
}

.pt_24 {
  padding-top: calc(24rem / 48);
}

.pt_36 {
  padding-top: calc(36rem / 48);
}

.pt_46 {
  padding-top: calc(46rem / 48);
}

.pt_50 {
  padding-top: calc(50rem / 48);
}

.pt_60 {
  padding-top: calc(60rem / 48);
}

.pt_64 {
  padding-top: calc(64rem / 48);
}

.pt_80 {
  padding-top: calc(80rem / 48);
}

.pt_94 {
  padding-top: calc(94rem / 48);
}

.pt_98 {
  padding-top: calc(98rem / 48);
}

.pt_100 {
  padding-top: calc(100rem / 48);
}

.pt_120 {
  padding-top: calc(120rem / 48);
}

.pt_124 {
  padding-top: calc(124rem / 48);
}

.pt_132 {
  padding-top: calc(132rem / 48);
}

.pt_166 {
  padding-top: calc(166rem / 48);
}

.pb_38 {
  padding-bottom: calc(38rem / 48);
}

.pb_50 {
  padding-bottom: calc(50rem / 48);
}

.pb_56 {
  padding-bottom: calc(56rem / 48);
}

.pb_60 {
  padding-bottom: calc(60rem / 48);
}

.pb_64 {
  padding-bottom: calc(64rem / 48);
}

.pb_66 {
  padding-bottom: calc(66rem / 48);
}

.pb_72 {
  padding-bottom: calc(72rem / 48);
}

.pb_85 {
  padding-bottom: calc(66rem / 48);
}

.pb_100 {
  padding-bottom: calc(100rem / 48);
}

.pb_130 {
  padding-bottom: calc(130rem / 48);
}

.pb_140 {
  padding-bottom: calc(140rem / 48);
}

.pb_160 {
  padding-bottom: calc(160rem / 48);
}

.pb_190 {
  padding-bottom: calc(190rem / 48);
}

.pb_164 {
  padding-bottom: calc(164rem / 48);
}

.pb_200 {
  padding-bottom: calc(200rem / 48);
}

.pl_32 {
  padding-left: calc(32rem / 48);
}

.pl_46 {
  padding-left: calc(46rem / 48);
}

.mt_38 {
  margin-top: calc(38rem / 48);
}

.mt_46 {
  margin-top: calc(46rem / 48);
}

.mt_50 {
  margin-top: calc(50rem / 48);
}

.mt_75 {
  margin-top: calc(75rem / 48);
}

.mt_83 {
  margin-top: calc(83rem / 48);
}

.mt_300 {
  margin-top: calc(300rem / 48);
}

.mb_48 {
  margin-bottom: calc(48rem / 48);
}

.mb_88 {
  margin-bottom: calc(88rem / 48);
}

.mb_92 {
  margin-bottom: calc(92rem / 48);
}

.mb_120 {
  margin-bottom: calc(120rem / 48);
}

.mb_300 {
  margin-bottom: calc(300rem / 48);
}

.partition_ec {
  display: inline-block;
  width: 100%;
  height: calc(3rem / 48);
  background-color: #ececec;
}

.wrapper_component_samples {
  width: 100%;
  padding: calc(50rem / 48);
  background-color: #edeef0;
}

.wrapper_sapmle {
  padding-bottom: calc(30rem / 48);
  margin-bottom: calc(30rem / 48);
}

.wrapper_sapmle pre {
  margin: calc(20rem / 48) 0;
  width: 100%;
  font-size: calc(45rem / 48);
  line-height: 1.2;
}

.tit_sample {
  font-size: calc(45rem / 48);
  font-weight: bold;
  padding-bottom: calc(45rem / 48);
  margin-bottom: calc(45rem / 48);
  border-bottom: calc(4rem / 48) solid #ccc;
}

.box_sample {
  width: 100%;
  background: #fff;
  border: calc(4rem / 48) solid #ccc;
  padding: calc(80rem / 48);
  border-radius: calc(30rem / 48);
}

.box_sample + .box_sample {
  margin-top: calc(40rem / 48);
}

input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 calc(42rem / 48);
  border: calc(3rem / 48) solid #dadada;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(46rem / 48);
  font-weight: 400;
  color: #030303;
}

input[type="text"]:focus {
  outline: 0;
  border-color: #2254f3;
}

input[type="text"].input_full {
  width: 100%;
}

.check_type_01 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: calc(154rem / 48);
  height: calc(54rem / 48);
  border-radius: calc(30rem / 48);
  background-color: #bfbfbf;
  position: relative;
}

.check_type_01::before, .check_type_01::after {
  position: absolute;
}

.check_type_01::before {
  content: "Off";
  font-size: calc(36rem / 48);
  font-weight: 700;
  color: #fff;
  right: calc(34rem / 48);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.check_type_01::after {
  content: "";
  width: calc(78rem / 48);
  height: calc(78rem / 48);
  background: #fff;
  border: calc(6rem / 48) solid #bfbfbf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: calc(-26rem / 48);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 100%;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.check_type_01:checked {
  background-color: #2254f3;
}

.check_type_01:checked::before {
  content: "ON";
  right: unset;
  left: calc(30rem / 48);
}

.check_type_01:checked::after {
  border-color: #2254f3;
  left: calc(102rem / 48);
}

input,
button {
  border-radius: calc(16rem / 48);
}

input[type="text"],
.btn_hei_120 {
  height: calc(120rem / 48);
}

.btn_wid_380 {
  width: calc(380rem / 48);
}

.btn_wid_full {
  width: 100%;
}

button {
  border: calc(3rem / 48) solid transparent;
  vertical-align: middle;
  font-weight: 700;
  font-size: calc(45rem / 48);
}

.btn_dblue {
  background-color: #2448a8;
  border-color: #2448a8;
  color: #fff;
}

.btn_lblue {
  background-color: #2254f3;
  border-color: #2254f3;
  color: #fff;
}

.btn_lgray {
  background-color: #999999;
  border-color: #999999;
  color: #fff;
}

.btn_more {
  font-size: calc(48rem / 48);
  font-weight: 700;
  color: #474747;
  padding: calc(48rem / 48) 0;
  text-align: center;
}

.btn_more span, .btn_more .icon_more {
  vertical-align: text-bottom;
}

.btn_more .icon_more {
  width: calc(60rem / 48);
  height: calc(60rem / 48);
  border: 1px solid #333;
  border-radius: 100%;
  position: relative;
  margin-left: calc(42rem / 48);
}

.btn_more .icon_more::after, .btn_more .icon_more::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: calc(30rem / 48);
  height: calc(2rem / 48);
  background: #333;
  left: 50%;
  top: 50%;
}

.btn_more .icon_more::after {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn_more .icon_more::before {
  -webkit-transform: translate(calc(-50% + calc(2rem / 48)), -50%) rotate(90deg);
          transform: translate(calc(-50% + calc(2rem / 48)), -50%) rotate(90deg);
}

.input_date {
  background-image: url(../../images/icon_cal.png);
  background-repeat: no-repeat;
  background-size: calc(46rem / 48);
  background-position: center right calc(32rem / 48);
}

.input_random {
  background-image: url(../../images/icon_random.png);
  background-repeat: no-repeat;
  background-size: calc(56rem / 48);
  background-position: center right calc(32rem / 48);
}

.type_input_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type_input_button input,
.type_input_button button {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.type_input_button input {
  width: calc(598rem / 48);
  margin-right: calc(34rem / 48);
}

.type_input_date .subtit_fs_46 {
  display: inline-block;
  line-height: calc(120rem / 48);
  vertical-align: middle;
  padding: 0 calc(72rem / 48) 0 calc(40rem / 48);
}

.type_input_date .input_date {
  width: calc(490rem / 48);
  padding: 0 calc(70rem / 48);
}

.type_input_date .input_date + .input_time {
  margin-left: calc(40rem / 48);
}

.type_input_date .input_time {
  width: calc(220rem / 48);
  text-align: center;
}

.type_input_date + .type_input_date {
  margin-top: calc(22rem / 48);
}

.wrapper_bottom_btns {
  width: 100%;
  text-align: center;
  padding-bottom: calc(200rem / 48);
  padding-left: calc(50rem / 48);
  padding-right: calc(50rem / 48);
  margin-top: calc(200rem / 48);
}

.wrapper_bottom_btns.pos_abs_btm {
  position: absolute;
  bottom: 0;
}

.wrapper_bottom_btns button {
  height: calc(140rem / 48);
}

.wrapper_bottom_btns button + button {
  margin-left: calc(30rem / 48);
}

.wrapper_validate.error input[type=text] {
  border-color: #cc3333;
}

.wrapper_validate.error input[type=text]:focus {
  outline: none;
}

.wrapper_validate.error .notice_gray {
  color: #cc3333;
}

.wrapper_layer_popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.wrapper_layer_popup.on {
  display: inline-block;
}

.wrapper_layer_popup #layer_mask {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper_layer_popup .layer_box {
  display: none;
  width: calc(100% - calc(100rem / 48));
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: calc(30rem / 48);
}

.wrapper_layer_popup .layer_box.on {
  display: inline-block;
}

.wrapper_layer_popup .layer_box .layer_inner {
  padding-left: calc(80rem / 48);
  padding-right: calc(80rem / 48);
}

.wrapper_layer_popup .layer_box .layer_scroll {
  max-height: 75vh;
  overflow-y: auto;
}

.wrapper_layer_popup .layer_box .layer_header {
  width: 100%;
  height: calc(130rem / 48);
  line-height: calc(130rem / 48);
  background-color: #f5f5f5;
  text-align: center;
  border-radius: calc(30rem / 48) calc(30rem / 48) 0 0;
  position: relative;
}

.wrapper_layer_popup .layer_box .layer_header .btn_layer_close {
  position: absolute;
  display: inline-block;
  width: calc(42rem / 48);
  height: calc(42rem / 48);
  right: calc(68rem / 48);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: red;
}

.wrapper_layer_popup .layer_box .tit_layer {
  font-size: calc(50rem / 48);
  font-weight: 700;
}

.wrapper_layer_popup .layer_box .desc_layer {
  font-size: calc(45rem / 48);
  line-height: 1.35;
}

.wrapper_layer_popup .layer_box .wrapper_layer_ctrl {
  text-align: right;
}

.wrapper_layer_popup .layer_box .wrapper_layer_ctrl a {
  display: inline-block;
  font-size: calc(45rem / 48);
  padding: calc(20rem / 48);
}

.wrapper_layer_popup .layer_box .wrapper_layer_ctrl a + a {
  margin-left: calc(140rem / 48);
}

.wrapper_layer_popup .layer_box .wrapper_layer_ctrl .layer_ctrl_gray {
  color: #999;
}

.wrapper_layer_popup .layer_box .wrapper_layer_ctrl .layer_ctrl_blue {
  color: #2254f3;
}

ul.wrapper_used_history li {
  padding: calc(50rem / 48) 0;
  font-size: 0;
}

ul.wrapper_used_history li + li {
  border-top: calc(3rem / 48) solid #ececec;
}

ul.wrapper_used_history li > div {
  display: inline-block;
  width: 50%;
}

ul.wrapper_used_history li span {
  font-size: calc(40rem / 48);
  color: #666;
}

ul.wrapper_used_history li .history_time::before, ul.wrapper_used_history li .history_state::before {
  content: "";
  display: inline-block;
  width: calc(3rem / 48);
  height: calc(32rem / 48);
  background-color: #ececec;
  margin-left: calc(24rem / 48);
  margin-right: calc(24rem / 48);
  vertical-align: middle;
}

ul.wrapper_used_history li .history_state.closed {
  color: #ff3333;
}

ul.wrapper_used_history li .history_state.opened {
  color: #2254f3;
}

.info_comp {
  padding-bottom: calc(52rem / 48);
  border-bottom: calc(3rem / 48) solid #ececec;
}

.info_comp .comp_logo, .info_comp .subtit_fs_50 {
  display: inline-block;
  vertical-align: middle;
}

.info_comp .comp_logo {
  width: calc(124rem / 48);
  height: calc(124rem / 48);
  font-size: 0;
}

.info_comp .comp_logo img {
  width: 100%;
}

.info_comp .subtit_fs_50 {
  margin-left: calc(32rem / 48);
}

.wrapper_device_list li {
  font-size: 0;
}

.wrapper_device_list li + li {
  border-top: calc(3rem / 48) solid #ececec;
}

.wrapper_device_list li .icon_device, .wrapper_device_list li .subtit_fs_42 {
  display: inline-block;
  vertical-align: middle;
}

.wrapper_device_list li .icon_device {
  width: calc(100rem / 48);
  height: calc(100rem / 48);
  background-color: #222;
  border-radius: 100%;
}

.wrapper_device_list li .subtit_fs_42 {
  margin-left: calc(32rem / 48);
}

.table_support_device {
  padding: 0 calc(60rem / 48) calc(20rem / 48);
}

.table_support_device li {
  display: inline-block;
  width: 100%;
  padding: calc(43rem / 48) 0;
}

.table_support_device li.support_thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.table_support_device li.support_thead span {
  font-size: calc(40rem / 48);
  font-weight: 700;
}

.table_support_device li span {
  display: inline-block;
  font-size: calc(35rem / 48);
  width: calc(100% / 3);
  text-align: center;
}

.table_support_device li + li {
  border-top: calc(3rem / 48) solid #f3f3f3;
}

.range_type_01 .scale, .range_type_02 .scale {
  display: none;
}

.range_type_01 {
  font-size: 0;
}

.range_type_01 .area_value, .range_type_01 .area_range {
  display: inline-block;
  vertical-align: middle;
}

.range_type_01 .area_value {
  width: calc(140rem / 48);
  margin-right: calc(44rem / 48);
  text-align: center;
  line-height: 1.22;
}

.range_type_01 .area_value .tit_value, .range_type_01 .area_value .detail_value {
  font-size: calc(45rem / 48);
  font-weight: 700;
}

.range_type_01 .area_value .detail_value {
  color: #2254f3;
}

.range_type_01 .area_range {
  width: calc(100% - calc(223rem / 48));
}

.range_type_03 {
  width: calc(100% - calc(80rem / 48));
  padding-bottom: calc(130rem / 48);
  margin: 0 auto;
}

.range_type_03 .scale {
  top: 0 !important;
}

.range_type_03 .scale span {
  border-left: 0 !important;
}

.range_type_03 .scale span ins {
  font-size: calc(42rem / 48);
  font-weight: 400;
  color: #030303;
  top: calc(54rem / 48);
}

.image_curtain {
  text-align: center;
}

.image_curtain img {
  width: calc(683rem / 48);
}

.caps_home_header {
  display: inline-block;
  width: 100%;
  height: calc(140rem / 48);
  padding: 0 calc(50rem / 48);
  line-height: calc(130rem / 48);
  background-color: #fff;
  border-bottom: calc(4rem / 48) solid #e5e5e5;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}

.caps_home_header .tit_header {
  font-size: calc(55rem / 48);
  font-weight: 700;
  text-align: center;
}

.caps_home_header i.icon_header_back, .caps_home_header i.icon_header_menu {
  position: absolute;
  top: 50%;
}

.caps_home_header i.icon_header_back {
  width: calc(28rem / 48);
  height: calc(48rem / 48);
  left: calc(50rem / 48);
  background-image: url(../../images/icon_arr_right.png);
  -webkit-transform: rotate(180deg) translate(0, 50%);
          transform: rotate(180deg) translate(0, 50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.caps_home_header i.icon_header_menu {
  width: calc(66rem / 48);
  height: calc(40rem / 48);
  right: calc(50rem / 48);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.caps_home_header .btn_header_edit {
  position: absolute;
  font-size: calc(40rem / 48);
  color: #2254f3;
  right: calc(50rem / 48);
  top: 0;
}

.wrapper_caps_home {
  min-width: 100%;
  min-height: 100%;
  background-color: #edeef0;
  padding-top: calc(140rem / 48);
}

.box_full {
  background-color: #fff;
  padding-left: calc(50rem / 48);
  padding-right: calc(50rem / 48);
  margin-top: calc(20rem / 48);
}

.box_inner {
  padding-left: calc(50rem / 48);
  padding-right: calc(50rem / 48);
}

.box_radius {
  width: calc(100% - calc(100rem / 48));
  background: #fff;
  border: 1px solid #ccc;
  border-radius: calc(30rem / 48);
  margin: calc(40rem / 48) auto 0;
  padding-left: calc(56rem / 48);
  padding-right: calc(56rem / 48);
}

.box_radius.bg_arr_r {
  background-repeat: no-repeat;
  background-image: url(../../images/icon_arr_right.png);
  background-position: center right calc(90rem / 48);
  background-size: calc(22rem / 48);
}

.wrapper_align_lr {
  font-size: 0;
}

.wrapper_align_lr > div {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.support_device_list {
  padding-top: calc(100rem / 48);
  padding-left: calc(100rem / 48);
  padding-right: calc(80rem / 48);
}

.support_device_list .subtit_fs_45 {
  text-decoration: underline;
}

/* datepicker Style */
.ui-datepicker {
  width: 270px;
  padding: 0;
  display: none;
  border: 0;
  margin-top: 10px;
  border-radius: 8px;
}

.ui-widget.ui-widget-content {
  border: 0;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.ui-datepicker .ui-widget-header {
  position: relative;
  padding: 6px 0 36px 0;
  border: 0;
  background: #133591;
  color: #fff;
  border-radius: 0;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 70px;
  height: 26px;
  line-height: 26px;
  background: rgba(0, 0, 0, 0.15) url(../images/jquery-ui/arrow-button.png) 100% -27px no-repeat;
  margin: 0 4px;
  padding: 0 6px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* 화살표 없애기 */
}

.ui-datepicker select.ui-datepicker-month:hover, .ui-datepicker select.ui-datepicker-year:hover {
  background: rgba(0, 0, 0, 0.3) url(../images/jquery-ui/arrow-button.png) 100% -27px no-repeat;
}

.ui-datepicker select::-ms-expand {
  display: none;
  /* 화살표 없애기 for IE10, 11*/
}

.ui-datepicker .ui-datepicker-title {
  line-height: 1.8em;
  text-align: center;
  margin: 0px 2.3em;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
}

.ui-datepicker-title .ui-datepicker-year option, .ui-datepicker-title .ui-datepicker-month option {
  background: #fff;
  color: #333;
}

.ui-datepicker .ui-datepicker-calendar {
  position: relative;
  width: 260px;
  padding-top: 100px;
  margin: 0 auto;
}

.ui-datepicker-calendar thead tr {
  position: absolute;
  top: -24px;
  left: 5px;
  right: 5px;
}

.ui-datepicker-calendar thead th {
  float: left;
  display: block;
  padding: 0;
  width: 14.2857%;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  opacity: 0.6;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 5px;
  width: 1.8em;
  height: 1.8em;
  text-indent: -9999px;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev {
  left: 5px;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
}

.ui-datepicker .ui-datepicker-prev .ui-icon {
  background: url(../images/jquery-ui/arrow-button.png) 0 0 no-repeat;
}

.ui-datepicker .ui-datepicker-next {
  right: 5px;
}

.ui-datepicker .ui-datepicker-next.ui-state-hover {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
}

.ui-datepicker .ui-datepicker-next .ui-icon {
  background: url(../images/jquery-ui/arrow-button.png) -16px 0 no-repeat;
}

.ui-datepicker .ui-state-default {
  display: block;
  border: 0;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 4px auto;
  font-size: 12px;
  text-align: center;
  background: #fff;
  font-weight: normal;
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ui-datepicker .ui-state-default.ui-state-hover {
  background: rgba(0, 0, 0, 0.05);
}

.ui-datepicker-today .ui-state-default {
  color: #133591;
  font-weight: bold;
}

.ui-datepicker-current-day .ui-state-default {
  background: #133591 !important;
  color: #fff;
  font-weight: bold;
}

.ui-datepicker-buttonpane {
  overflow: hidden;
  border-top: 1px solid #eee;
}

.ui-datepicker-buttonpane button[data-handler="today"] {
  color: #133591;
  opacity: 0.75;
}

/* ie add Style */
.ui-datepicker td, .ui-datepicker th {
  border: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  cursor: pointer;
  width: auto;
  margin: 0.5em 0.2em 0.4em;
  padding: 0.2em 0.6em 0.3em;
  overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-icon {
  display: block;
  width: 16px;
  height: 16px;
}

/* mobile Responsive */
@media screen and (max-width: 480px) {
  .ui-datepicker {
    width: 270px !important;
    left: 50% !important;
    margin-left: -135px !important;
  }
}

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:first-child a {
  color: #e51937;
}

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {
  color: #0057d9;
}

.reinvented-color-wheel,
.reinvented-color-wheel--hue-wheel,
.reinvented-color-wheel--hue-handle,
.reinvented-color-wheel--sv-space,
.reinvented-color-wheel--sv-handle {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reinvented-color-wheel {
  position: relative;
  display: inline-block;
  line-height: 0;
  border-radius: 50%;
}

.reinvented-color-wheel--hue-wheel {
  border-radius: 50%;
}

.reinvented-color-wheel--sv-space {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.reinvented-color-wheel--hue-handle {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
}

.reinvented-color-wheel--sv-handle {
  display: none !important;
}

.reinvented-color-wheel--hue-handle {
  pointer-events: none;
}

.wrapper_color_picker {
  position: relative;
  text-align: center;
  font-size: 0;
}

.wrapper_color_picker .bg_bulb, .wrapper_color_picker .picked_color_layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
}

.wrapper_color_picker .bg_bulb {
  background-image: url(../images/bulb.png);
  background-size: 100%;
  z-index: 2;
  width: 170px;
  height: 170px;
}

.wrapper_color_picker .picked_color_layer {
  z-index: 1;
  width: 168px;
  height: 168px;
}

.slider-container {
  width: 300px;
}

.slider-container .back-bar {
  height: 10px;
  position: relative;
}

.slider-container .back-bar .selected-bar {
  position: absolute;
  height: 100%;
}

.slider-container .back-bar .pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  cursor: col-resize;
  opacity: 1;
  z-index: 2;
}

.slider-container .back-bar .pointer.last-active {
  z-index: 3;
}

.slider-container .back-bar .pointer-label {
  position: absolute;
  top: -17px;
  font-size: 8px;
  background: white;
  white-space: nowrap;
  line-height: 1;
}

.slider-container .back-bar .focused {
  z-index: 10;
}

.slider-container .clickable-dummy {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slider-container .scale {
  top: 2px;
  position: relative;
}

.slider-container .scale span {
  position: absolute;
  height: 5px;
  border-left: 1px solid #999;
  font-size: 0;
}

.slider-container .scale ins {
  font-size: 9px;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 5px;
  color: #999;
  line-height: 1;
}

.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer {
  cursor: auto;
}

.theme-green .back-bar {
  height: calc(20rem / 48);
  border-radius: calc(10rem / 48);
  background-color: #e6e6e6;
}

.theme-green .back-bar .selected-bar {
  border-radius: calc(10rem / 48);
  background-color: #2254f3;
}

.theme-green .back-bar .pointer {
  width: calc(78rem / 48);
  height: calc(78rem / 48);
  top: calc(-30rem / 48);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
  border: calc(6rem / 48) solid #2254f3;
  background-color: #fff;
}

.theme-green .back-bar .pointer-label {
  color: #999;
}

.theme-green .back-bar .focused {
  color: #333;
}

.theme-green .scale span {
  border-left: 1px solid #e5e5e5;
}

.theme-green .scale ins {
  color: #999;
}

.theme-blue .back-bar {
  height: 5px;
  border-radius: calc(10rem / 48);
  background-color: #eeeeee;
  background-color: #e7e7e7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}

.theme-blue .back-bar .selected-bar {
  border-radius: calc(10rem / 48);
  background-color: #92c1f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b1d1f9), to(#64a8f9));
  background-image: linear-gradient(to bottom, #b1d1f9, #64a8f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb1d1f9', endColorstr='#ff64a8f9', GradientType=0);
}

.theme-blue .back-bar .pointer {
  width: 14px;
  height: 14px;
  top: -5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #AAA;
  background-color: #e7e7e7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}

.theme-blue .back-bar .pointer-label {
  color: #999;
}

.theme-blue .back-bar .focused {
  color: #333;
}

.theme-blue .scale span {
  border-left: 1px solid #e5e5e5;
}

.theme-blue .scale ins {
  color: #999;
}

.ui-timepicker-container {
  position: absolute;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ui-timepicker,
.ui-timepicker-viewport {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 205px;
  display: block;
  margin: 0;
}

.ui-timepicker {
  list-style: none;
  padding: 0 1px;
  text-align: center;
}

.ui-timepicker-viewport {
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

.ui-timepicker-standard {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
  background-color: #fff;
  border: 1px solid #aaa;
  color: #222;
  margin: 0;
  padding: 2px;
}

.ui-timepicker-standard a {
  font-size: calc(42rem / 48);
  border: 1px solid transparent;
  color: #222;
  display: block;
  padding: 0.2em 0.4em;
  text-decoration: none;
}

.ui-timepicker-standard .ui-state-hover {
  background-color: #dadada;
  border: 1px solid #999;
  font-weight: 400;
  color: #212121;
}

.ui-timepicker-standard .ui-menu-item {
  margin: 0;
  padding: 0;
}

.ui-timepicker-corners,
.ui-timepicker-corners .ui-corner-all {
  border-radius: 4px;
}

.ui-timepicker-hidden {
  display: none;
}

.ui-timepicker-no-scrollbar .ui-timepicker {
  border: none;
}
