doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="../css/import.css" rel="stylesheet")
        script(src="../js/jquery.js")
        script(src="../js/jquery-ui.js")
        script(src="../js/jquery.range.js")
        script(src="../js/timepicker.js")
        script(src="../js/common.js")
        title Document
    body 
        .wrapper_caps_home 
            .caps_home_header
                i.icon_header_back
                h2.tit_header 제휴기기
                a.btn_header_edit 편집
            .box_radius.pt_80.pb_50
                .wrapper_align_lr
                    .tal
                        .subtit_fs_50 우리집기기관리
                    .tar
                        span.link_more more
                ul.assc_device_list
                  .wrapper_align_lr
                      .tal
                          .assc_thumb 
                            img(src="../images/icon_iot_01.png")
                          .assc_desc
                            .assc_name 스마트조명스위치
                            .assc_state 켜짐
                      .tar
                          input(type="checkbox").check_type_01
                  .wrapper_align_lr
                      .tal
                          .assc_thumb 
                            img(src="../images/icon_iot_01.png")
                          .assc_desc
                            .assc_name 스마트조명스위치
                            .assc_state 켜짐
                      .tar
                          input(type="checkbox").check_type_01
                  .wrapper_align_lr
                      .tal
                          .assc_thumb 
                            img(src="../images/icon_iot_01.png")
                          .assc_desc
                            .assc_name 스마트조명스위치
                            .assc_state 켜짐
                      .tar
                          input(type="checkbox").check_type_01
                  .wrapper_align_lr
                      .tal
                          .assc_thumb 
                            img(src="../images/icon_iot_01.png")
                          .assc_desc
                            .assc_name 스마트조명스위치
                            .assc_state 켜짐
                      .tar
                          input(type="checkbox").check_type_01
                  .wrapper_align_lr
                      .tal
                          .assc_thumb 
                            img(src="../images/icon_iot_01.png")
                          .assc_desc
                            .assc_name 스마트조명스위치
                            .assc_state 켜짐
                      .tar
                          input(type="checkbox").check_type_01

    
            .btn_more.mt_38(onclick="alert('더보기')")
                span 더보기
                i.icon_more

                
script.

