doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="../css/import.css" rel="stylesheet")
        script(src="../js/jquery.js")
        script(src="../js/jquery-ui.js")
        script(src="../js/jquery.range.js")
        script(src="../js/timepicker.js")
        script(src="../js/common.js")
        title Document
    body 
        .wrapper_caps_home
            .caps_home_header
                i.icon_header_back
                h2.tit_header 계정연결
                i.icon_header_menu
            .subtit_fs_42.fw_700 미연결브랜드
            .box_full.mt_56
                .type_input_button
                    input(type="text" value="010-1234-5678")
                    button(type="button").btn_hei_120.btn_dblue 주소록 불러오기
                .partition_ec.mt_83.mb_88

script.
