doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="../css/import.css" rel="stylesheet")
        script(src="../js/jquery.js")
        script(src="../js/jquery-ui.js")
        script(src="../js/jquery.range.js")
        script(src="../js/timepicker.js")
        script(src="../js/common.js")
        title Document
    body 
        .wrapper_caps_home
            .caps_home_header
                i.icon_header_back
                h2.tit_header 계정연결
                i.icon_header_menu
            .subtit_fs_42.pl_60.pt_100.fw_700 미연결브랜드
            .bg_fff.mt_56
              .wrapper_brand_li
                .brand_logo
                  img(src="../images/solity.png")
                .brand_desc
                  .brand_name 솔리티
                  .device_type 도어락
              .wrapper_brand_li
                .brand_logo
                  img(src="../images/hej.png")
                .brand_desc
                  .brand_name 헤이홈
                  .device_type 조명,플러그,전동커튼
            .subtit_fs_42.pl_60.pt_100.fw_700 연결된브랜드
            .bg_fff.mt_56
              .wrapper_brand_li
                .brand_logo
                  img(src="../images/hej.png")
                .brand_desc
                  .brand_name 헤이홈
                  .device_type 조명,플러그,전동커튼            
            .notice_gray.pl_60.mt_75.lh_140p 신규 브랜드들이 계속 추가될 예정입니다.<br />캡스홈과 함께 안전하고 편리한 생활을 즐겨보세요.

script.
