doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="../css/import.css" rel="stylesheet")
        script(src="../js/jquery.js")
        script(src="../js/jquery-ui.js")
        script(src="../js/jquery.range.js")
        script(src="../js/timepicker.js")
        script(src="../js/common.js")
        script(src="../js/reinvented-color-wheel.js")
        title Document
    body 
        .wrapper_caps_home 
            .caps_home_header
                i.icon_header_back
                h2.tit_header 침실스마트조명스위치
                a.btn_header_edit 편집
            .default_pb
                .box_radius.pt_84
                    .subtit_fs_50.mb_104 개별 설정
                    .img_switch_ctrl
                        img(src="../images/con_3p_0.png")#concentImg
                    .wrapper_plug_ctrl
                        .wrapper_align_lr
                            .tal
                                .subtit_fs_42 1구
                            .tar
                                input(type="checkbox" data-con-idx="0").check_type_01
                        .wrapper_align_lr
                            .tal
                                .subtit_fs_42 2구
                            .tar
                                input(type="checkbox" data-con-idx="1").check_type_01
                        .wrapper_align_lr
                            .tal
                                .subtit_fs_42 3구
                            .tar
                                input(type="checkbox" data-con-idx="2").check_type_01
        
script.
    var conCtrl = [false, false, false];
    $("[data-con-idx]").on("change", function() {
        var conIdx = this.getAttribute("data-con-idx");
        conCtrl[conIdx] = this.checked;
        setConImg();
    })
    var setConImg = function () {
        //- console.log(conCtrl)
        switch(conCtrl){
            case [true, false, false]:
                console.log(0)
                break;
            case 1:
                console.log(1)
                break;
            case 2:
                console.log(2)
                break;
        }


        //- $("#concentImg").attr("src", )
    }
