doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="../css/import.css" rel="stylesheet")
        script(src="../js/jquery.js")
        script(src="../js/jquery-ui.js")
        script(src="../js/jquery.range.js")
        script(src="../js/timepicker.js")
        script(src="../js/common.js")
        script(src="../js/reinvented-color-wheel.js")
        title Document
    body 
        .wrapper_caps_home 
            .caps_home_header
                i.icon_header_back
                h2.tit_header 거실 스마트 전구(화이트)
                a.btn_header_edit 편집
            .default_pb
                .box_radius.pt_100.pb_100
                    .wrapper_align_lr
                        .tal
                            .subtit_fs_50 켜짐
                        .tar
                            input(type="checkbox").check_type_01

                .box_radius.pt_60.pb_54
                    .subtit_fs_45.mb_80 밝기 설정
                    .range_type_04
                        .wrapper_range(id="range1")
                            input(type="hidden" value="50")

                .box_radius.pt_60.pb_54
                    .subtit_fs_45.mb_80 색온도설정
                    .range_type_05
                        .wrapper_range(id="range2")
                            input(type="hidden" value="0")
                

script.

    //- S : range
    $('#range1 input').jRange({
        from: 0,
        to: 100,
        step: 1,
        scale: [0, 100],
        format: '%s',
        width: $("#range1").width(),
        showLabels: false,
        snap: true
    });

    $('#range2 input').jRange({
        from: 0,
        to: 100,
        step: 1,
        scale: ["3000K", "6000K"],
        format: '%s',
        width: $("#range1").width(),
        showLabels: false,
        snap: true,
        onstatechange: function () {
            var tempValue = this.getValue();
            $(this.pointers[1]).css("background-position", "center left " + tempValue + "%");
        }
    });
    //- E : range