doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="../css/import.css" rel="stylesheet")
        script(src="../js/jquery.js")
        script(src="../js/jquery-ui.js")
        script(src="../js/jquery.range.js")
        script(src="../js/timepicker.js")
        script(src="../js/common.js")
        title Document
    body 
        .wrapper_layer_popup
            #layer_mask
            .layer_box(data-layer="visitor-key-confirm")
                .tit_layer.pt_98.pb_66 방문자키발급
                .desc_layer.pb_140 입력한휴대폰 번호로<br />방문자 키가SMS 발송됩니다
                .wrapper_layer_ctrl.pb_60
                    a.layer_ctrl_gray 취소
                    a.layer_ctrl_blue(onclick="openLayer('visitor-key-done')") 확인
            .layer_box(data-layer="visitor-key-done")
                .desc_layer.pt_132.pb_190 입력한휴대폰 번호로<br />방문자 키가SMS 발송됩니다
                .wrapper_layer_ctrl.pb_60
                    a.layer_ctrl_blue(onclick="closeLayer()") 확인       
            .layer_box(data-layer="visitor-key-cancel")
                .desc_layer.pt_132.pb_130 취소시작성하신정보가사라집니다.<br />방문자 키 발급을취소하시겠습니까?
                .wrapper_layer_ctrl.pb_60
                    a.layer_ctrl_gray(onclick="closeLayer()") 아니오
                    a.layer_ctrl_blue(onclick="closeLayer()") 네

        .wrapper_caps_home
            .caps_home_header
                i.icon_header_back
                h2.tit_header 방문자 키 발급
                i.icon_header_menu
            .box_full.pt_124.pb_164
                .subtit_fs_45.pb_56 방문자키를발급할휴대폰번호를입력해주세요.
                .type_input_button
                    input(type="text" value="010-1234-5678")
                    button(type="button").btn_hei_120.btn_dblue 주소록 불러오기
                .partition_ec.mt_83.mb_88
                .subtit_fs_45.pb_56 기간 설정
                .type_input_date 
                    .subtit_fs_46 시작
                    input(type="text" value="2022-07-01")#startDate.input_date
                    input(type="text")#startTime.input_time
                .type_input_date 
                    .subtit_fs_46 종료
                    input(type="text" value="2022-07-01")#endDate.input_date
                    input(type="text")#endTime.input_time
                .partition_ec.mt_75.mb_92
                .subtit_fs_45.pb_56 비밀번호설정
                .type_input_button.mb_48
                    input(type="text" value="123456").input_random
                    button(type="button").btn_hei_120.btn_dblue 랜덤생성
                .notice_gray 일회용비밀번호로사용할6자리숫자를입력해주세요.
            .wrapper_bottom_btns.mt_300.pb_200
                button(type="button" onclick="openLayer('visitor-key-cancel')").btn_hei_120.btn_wid_380.btn_lgray 취소
                button(type="button" onclick="openLayer('visitor-key-confirm')").btn_hei_120.btn_wid_380.btn_lblue 저장
script.
    //- S : date picker
    $("#startDate, #endDate").datepicker({
        dateFormat: 'yy-mm-dd',
        autoclose: true,
        todayHighlight: true
    });
    $('#startTime, #endTime').timepicker({
        defaultTime: '11',
        timeFormat: 'HH:mm',
        interval: 30,
        startTime: '00:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
    //- E : date picker
