.wrapper_caps_home{
  min-width: 100%;
  min-height: 100%;
  background-color: #edeef0;
  padding-top: px(140);
}

.box_full {
  background-color: #fff;
  padding-left: px(50);
  padding-right: px(50);
  margin-top: px(20);
}

.box_inner{
  padding-left: px(50);
  padding-right: px(50);
}

.box_radius {
  width: calc(100% - #{px(100)});
  background: #fff;
  border: 1px solid #ccc;
  border-radius: px(30);
  margin: px(40) auto 0;
  padding-left: px(56);
  padding-right: px(56);
  &.bg_arr_r{
    background-repeat: no-repeat;
    background-image: url(../../images/icon_arr_right.png);
    background-position: center right px(90);
    background-size: px(22);
  }
}

.wrapper_empty{
  padding: px(60);
}

.wrapper_align_lr{
  font-size: 0;
  > div{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }
}

.support_device_list{
  padding-top: px(100);
  padding-left: px(100);
  padding-right: px(80);
  .txt_underline{
    text-decoration: underline;
  }
}