input[type="text"] {
    appearance: none;
    padding: 0 px(42);
    border: px(3) solid #dadada;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: px(46);
    font-weight: 400;
    color: #030303;
    &:focus{
        outline: 0;
        border-color: #2254f3;
    }
    &.input_full{
        width: 100%;
    }
}

.check_type_01{
    appearance: none;
    display: inline-block;
    width: px(154);
    height: px(54);
    border-radius: px(30);
    background-color: #bfbfbf;
    position: relative;
    &::before, &::after{
        position: absolute;
    }
    &::before{
        content: "Off";
        font-size: px(36);
        font-weight: 700;
        color: #fff;
        right: px(34);
        top: 50%;
        transform: translate(0, -50%);
    }
    &::after{
        content: "";
        width: px(78);
        height: px(78);
        background: #fff;
        border: px(6) solid #bfbfbf;
        box-sizing: border-box;
        left: px(-26);
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 100%;
        transition-duration: .3s;
    }
    &:checked{
        background-color: #2254f3;
        &::before{
            content: "ON";
            right: unset;
            left: px(30);
        }
        &::after{
            border-color: #2254f3;
            left: px(102);
        }
    }

}

input,
button {
    border-radius: px(16);
}

input[type="text"],
.btn_hei_120 {
    height: px(120);
}

.btn_wid_380 {
    width: px(380);
}

.btn_wid_full {
    width: 100%;
}

button {
    border: px(3) solid transparent;
    vertical-align: middle;
    font-weight: 700;
    font-size: px(45);
}

.btn_dblue {
    background-color: #2448a8;
    border-color: #2448a8;
    color: #fff;
}

.btn_lblue {
    background-color: #2254f3;
    border-color: #2254f3;
    color: #fff;
}

.btn_lgray {
    background-color: #999999;
    border-color: #999999;
    color: #fff;
}

.btn_more {
    font-size: px(48);
    font-weight: 700;
    color: #474747;
    padding: px(48) 0;
    text-align: center;
    span, .icon_more{
        vertical-align: text-bottom;
    }
    .icon_more{
        width: px(60);
        height: px(60);
        border: 1px solid #333;
        border-radius: 100%;
        position: relative;
        margin-left: px(42);
        &::after, &::before{
            content: "";
            position: absolute;
            display: inline-block;
            width: px(30);
            height: px(2);
            background: #333;
            left: 50%;
            top: 50%;
        }
        &::after{
            transform: translate(-50%, -50%);
        }
        &::before{
            transform: translate(calc(-50% + #{px(2)}), -50%) rotate(90deg);
        }
    }
}

.input_date {
    background-image: url(../../images/icon_cal.png);
    background-repeat: no-repeat;
    background-size: px(46);
    background-position: center right px(32);
}

.input_random {
    background-image: url(../../images/icon_random.png);
    background-repeat: no-repeat;
    background-size: px(56);
    background-position: center right px(32);
}

.type_input_button {
    display: flex;
    input,
    button {
        flex: auto;
    }
    input {
        width: px(598);
        margin-right: px(34);
    }
}

.type_input_date{
    .subtit_fs_46{
        display: inline-block;
        line-height: px(120);
        vertical-align: middle;
        padding: 0 px(72) 0 px(40);
    }
    .input_date{
        width: px(490);
        padding: 0 px(70);
        & + .input_time {
            margin-left: px(40);
        }
    }
    .input_time{
        width: px(220);
        text-align: center;
    }
    & + .type_input_date{
        margin-top: px(22);
    }
}

.wrapper_bottom_btns{
    width: 100%;
    text-align: center;
    padding-bottom: px(200);
    padding-left: px(50);
    padding-right: px(50);
    margin-top: px(200);
    &.pos_abs_btm{
        position: absolute;
        bottom: 0;
    }
    button{
        height: px(140);
        & + button {
            margin-left: px(30);
        }
    }
}

.wrapper_validate{
    &.error{
        input[type=text]{
            border-color: #cc3333;
            &:focus{
                outline: none;
            }
        }
        .notice_gray{
            color: #cc3333;
        }
    }
}