.img_relay_ctrl{
  height: px(420);
  text-align: center;
  margin-bottom: px(140);
  img{
    height: 100%;
  }
}

.img_switch_ctrl{
  height: px(400);
  text-align: center;
  margin-bottom: px(146);
  &.type_02{
    margin-bottom: px(90);
  }
  img{
    height: 100%;
  }
}

.img_switch_ctrl_02{
  
}

.img_blunt_ctrl{
  height: px(283);
  text-align: center;
  margin-bottom: px(120);
  img{
    height: 100%;
  }
}