.wrapper_layer_popup{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    &.on{
        display: inline-block;
    }
    #layer_mask{
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }
    .layer_box{
        display: none;
        width: calc(100% - #{px(100)});
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: px(30);
        &.on{
            display: inline-block;
        }
        .layer_inner{
            padding-left: px(80);
            padding-right: px(80);
        }
        .layer_scroll{
            max-height: 75vh;
            overflow-y: auto;
        }
        .layer_header{
            width: 100%;
            height: px(130);
            line-height: px(130);
            background-color: #f5f5f5;
            text-align: center;
            border-radius: px(30) px(30) 0 0;
            position: relative;
            .btn_layer_close{
                position: absolute;
                display: inline-block;
                width: px(42);
                height: px(42);
                right: px(68);
                top: 50%;
                transform: translate(-50%, -50%);
                // background-image: url(../../images/icon_x.png);
                // @include bgfull;
                background-color: red;
            }
        }
        .tit_layer{
            font-size: px(50);
            font-weight: 700;
        }
        .desc_layer{
            font-size: px(45);
            line-height: 1.35;
        }
        .wrapper_layer_ctrl{
            text-align: right;
            a{
                display: inline-block;
                font-size: px(45);
                padding: px(20);
                & + a {
                    margin-left: px(140);
                }
            }
            .layer_ctrl_gray{
                color: #999;
            }
            .layer_ctrl_blue{
                color: #2254f3;
            }
        }
    }
}