ul.wrapper_used_history{
    li{
        padding: px(50) 0;
        font-size: 0;
        & + li{
            border-top: px(3) solid #ececec;
        }
        > div {
            display: inline-block;
            width: 50%;
        }
        span{
            font-size: px(40);
            color: #666;
        }
        .history_time, .history_state{
            &::before{
                content: "";
                display: inline-block;
                width: px(3);
                height: px(32);
                background-color: #ececec;
                margin-left: px(24);
                margin-right: px(24);
                vertical-align: middle;
            }
        }
        .history_state{
            &.closed{
                color: #ff3333;
            }
            &.opened{
                color: #2254f3;
            }
        }
    }
}

.info_comp{
    padding-bottom: px(52);
    border-bottom: px(3) solid #ececec;
    .comp_logo, .subtit_fs_50 {
        display: inline-block;
        vertical-align: middle;
    }
    .comp_logo{
        width: px(124);
        height: px(124);
        font-size: 0;
        img{
            width: 100%;
        }
    }
    .subtit_fs_50{
        margin-left: px(32);
    }
}

.wrapper_device_list{
    li{
        font-size: 0;
        & + li{
            margin-top: px(55);
        }
        .icon_device, .subtit_fs_42{
            display: inline-block;
            vertical-align: middle;
        }
        .icon_device{
            width: px(100);
            height: px(100);
            border-radius: 100%;
            img{
                width: 100%;
            }
            
        }
        .subtit_fs_42{
            margin-left: px(32);
            color: #333;
            font-weight: 400;
        }
    }
}

.table_support_device{
    padding: 0 px(60) px(20);
    li{
        display: inline-block;
        width: 100%;
        padding: px(43) 0;
        &.support_thead{
            position: sticky;
            top: 0;
            background-color: #fff;
            span{
                font-size: px(40);
                font-weight: 700;
            }
        }
        span{
            display: inline-block;
            font-size: px(35);
            width: calc(100% / 3);
            text-align: center;
        }
        & + li {
            border-top: px(3) solid #f3f3f3;
        }
    }
}

.wrapper_support_type{
    margin-bottom: px(67);
    li{
        font-size: px(40);
        color: #78797b;
        & + li {
            margin-top: px(40);
        }
        &::before{
            content: "";
            display: inline-block;
            width: px(6);
            height: px(6);
            background-color: #78797b;
            border-radius: 100%;
            vertical-align: middle;
            margin-right: px(18);
        }
    }
}

.assc_device_list{
    .assc_align_lr{
        padding: px(48) 0;
        border-top: px(3) solid #ececec;
        font-size: 0;
        > div {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }
        .tal {
            width: 70%;
        }
        .tar {
            width: 30%;
        }
    }
    .assc_thumb, .assc_desc{
        display: inline-block;
        vertical-align: middle;
    }
    .assc_thumb{
        width: px(100);
        height: px(100);
        img{
            width: 100%;
        }
    }
    .assc_desc{
        width: calc(100% - #{px(100)});
        padding-left: px(58);
        .assc_name{
            font-size: px(42);
        }
        .assc_state{
            font-size: px(36);
            color: #989898;
            margin-top: px(8);
        }
    }
}

.link_more{
    font-size: px(42);
    color: #797979;
    &::after{
        content: "";
        display: inline-block;
        width: px(16);
        height: px(28);
        background-image: url(../images/icon_arr_right.png);
        @include bgfull;
        opacity: .5;
        vertical-align: middle;
        margin-left: px(20);
    }
}

.wrapper_brand_li{
    font-size: 0;
    padding: px(64);
    background-image: url(../images/icon_arr_right.png);
    background-repeat: no-repeat;
    background-position: center right px(52);
    background-size: px(24);
    & + .wrapper_brand_li {
        border-top: px(3) solid #ececec;
    }
    .brand_logo, .brand_desc {
        display: inline-block;
        vertical-align: middle;
    }
    .brand_logo{
        width: px(125);
        height: px(125);
        border-radius: 100%;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .brand_desc{
        width: calc(100% - #{px(125)});
        padding-left: px(32);
        .brand_name{
            font-size: px(50);
        }
        .device_type{
            font-size: px(42);
            color: #989898;
            margin-top: px(16);
        }
    }
}

.wrapper_blunt_history{
    font-size: 0;
    padding: px(68) 0;
    border-top: px(3) solid #ececec;
    .tal, .tar{
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        font-size: px(42);
        font-weight: 700;
    }
    .blunt_history_month {

    }
    .blunt_history_value {
        color: #2254f3;
    }
}

.wrapper_plug_ctrl {
    padding-bottom: px(16);
    .wrapper_align_lr{
        padding: px(46) 0 px(44);
        & + .wrapper_align_lr{
            border-top: px(3) solid #ececec;
        }
    }
}

.wrapper_switch_onoff{
    display: flex;
    align-items: center;

    .tit_onoff{
        display: inline-block;
        flex: auto;
    }
    
    .wrapper_onoff {
        display: inline-block;
        vertical-align: middle;
        flex: auto;
        text-align: right;
        padding-right: px(32);
        font-size: 0;
        dl{
            display: inline-block;
            text-align: center;
            & + dl {
                margin-left: px(100);
            }
            dt{
                width: px(149);
                height: px(149);
                @include bgfull;
                &.switch_on{
                    background-image: url(../images/power-on.png);
                }
                &.switch_off{
                    background-image: url(../images/power-off.png);
                }
            }
            dd{
                font-size: px(36);
                font-weight: 700;
                padding-top: px(24);
            }
        }
    }
}

.acc_brand_info{
    padding: px(60);
    > div {
        display: inline-block;
        vertical-align: middle;
    }
    .acc_brand_img {
        border-radius: 100%;
        img{
            width: px(125);
            height: px(125);
        }
    }
    .acc_brand_name {
        margin-left: px(32);
    }
}