.default_pb{
    padding-bottom: px(200);
}

.ofh{
    overflow: hidden;
}

.tal{
    text-align: left;
}

.tac{
    text-align: center;
}

.tar{
    text-align: right;
}

.pt_20{
    padding-top: px(20);
}

.pt_24{
    padding-top: px(24);
}

.pt_36 {
    padding-top: px(36);
}

.pt_46 {
    padding-top: px(46);
}

.pt_50 {
    padding-top: px(50);
}

.pt_60 {
    padding-top: px(60);
}

.pt_64 {
    padding-top: px(64);
}

.pt_80 {
    padding-top: px(80);
}

.pt_84 {
    padding-top: px(84);
}

.pt_94 {
    padding-top: px(94);
}

.pt_98 {
    padding-top: px(98);
}

.pt_100 {
    padding-top: px(100);
}

.pt_120 {
    padding-top: px(120);
}

.pt_124 {
    padding-top: px(124);
}

.pt_132 {
    padding-top: px(132);
}

.pt_160 {
    padding-top: px(160);
}

.pt_166 {
    padding-top: px(166);
}

.pb_20 {
    padding-bottom: px(20);
}

.pb_38 {
    padding-bottom: px(38);
}

.pb_40 {
    padding-bottom: px(40);
}

.pb_50 {
    padding-bottom: px(50);
}

.pb_56 {
    padding-bottom: px(56);
}

.pb_58 {
    padding-bottom: px(58);
}

.pb_60 {
    padding-bottom: px(60);
}

.pb_64 {
    padding-bottom: px(64);
}

.pb_66 {
    padding-bottom: px(66);
}

.pb_72 {
    padding-bottom: px(72);
}

.pb_76 {
    padding-bottom: px(76);
}

.pb_85 {
    padding-bottom: px(66);
}

.pb_100 {
    padding-bottom: px(100);
}

.pb_130 {
    padding-bottom: px(130);
}

.pb_140 {
    padding-bottom: px(140);
}

.pb_160 {
    padding-bottom: px(160);
}

.pb_190 {
    padding-bottom: px(190);
}

.pb_164 {
    padding-bottom: px(164);
}

.pb_200 {
    padding-bottom: px(200);
}

.pl_32{
    padding-left: px(32);
}

.pl_46{
    padding-left: px(46);
}

.pl_60{
    padding-left: px(60);
}

.mt_38 {
    margin-top: px(38);
}

.mt_46 {
    margin-top: px(46);
}

.mt_50 {
    margin-top: px(50);
}

.mt_56 {
    margin-top: px(56)!important;
}

.mt_75 {
    margin-top: px(75);
}

.mt_83 {
    margin-top: px(83);
}

.mt_300 {
    margin-top: px(300);
}

.mb_48 {
    margin-bottom: px(48);
}

.mb_88 {
    margin-bottom: px(88);
}

.mb_92 {
    margin-bottom: px(92);
}

.mb_120 {
    margin-bottom: px(120);
}

.mb_300{
    margin-bottom: px(300);
}

.fw_700{
    font-weight: 700;
}

.bg_fff{
    background-color: #fff;
}

.partition_ec {
    display: inline-block;
    width: 100%;
    height: px(3);
    background-color: #ececec;
}