.ofh{
    overflow: hidden;
}

.tal{
    text-align: left;
}

.tac{
    text-align: center;
}

.tar{
    text-align: right;
}

.pt_20{
    padding-top: px(20);
}

.pt_36 {
    padding-top: px(36);
}

.pt_50 {
    padding-top: px(50);
}

.pt_80 {
    padding-top: px(80);
}

.pt_94 {
    padding-top: px(94);
}

.pt_98 {
    padding-top: px(98);
}

.pt_100 {
    padding-top: px(100);
}

.pt_124 {
    padding-top: px(124);
}

.pt_132 {
    padding-top: px(132);
}

.pt_166 {
    padding-top: px(166);
}

.pb_50 {
    padding-bottom: px(50);
}

.pb_56 {
    padding-bottom: px(56);
}

.pb_60 {
    padding-bottom: px(60);
}

.pb_64 {
    padding-bottom: px(64);
}

.pb_66 {
    padding-bottom: px(66);
}

.pb_100 {
    padding-bottom: px(100);
}

.pb_130 {
    padding-bottom: px(130);
}

.pb_140 {
    padding-bottom: px(140);
}

.pb_160 {
    padding-bottom: px(160);
}

.pb_190 {
    padding-bottom: px(190);
}

.pb_164 {
    padding-bottom: px(164);
}

.pb_200 {
    padding-bottom: px(200);
}

.mt_38 {
    margin-top: px(38);
}

.mt_50 {
    margin-top: px(50);
}

.mt_75 {
    margin-top: px(75);
}

.mt_83 {
    margin-top: px(83);
}

.mt_300 {
    margin-top: px(300);
}

.mb_48 {
    margin-bottom: px(48);
}

.mb_88 {
    margin-bottom: px(88);
}

.mb_92 {
    margin-bottom: px(92);
}

.partition_ec {
    display: inline-block;
    width: 100%;
    height: px(3);
    background-color: #ececec;
}