.ofh{
    overflow: hidden;
}

.pt_98 {
    padding-top: px(98);
}

.pt_124 {
    padding-top: px(124);
}

.pt_132 {
    padding-top: px(132);
}

.pb_56 {
    padding-bottom: px(56);
}

.pb_60 {
    padding-bottom: px(60);
}

.pb_66 {
    padding-bottom: px(66);
}

.pb_130 {
    padding-bottom: px(130);
}

.pb_140 {
    padding-bottom: px(140);
}

.pb_160 {
    padding-bottom: px(160);
}

.pb_190 {
    padding-bottom: px(190);
}

.pb_164 {
    padding-bottom: px(164);
}

.mt_75 {
    margin-top: px(75);
}

.mt_83 {
    margin-top: px(83);
}

.mt_300 {
    margin-top: px(300);
}

.mb_48 {
    margin-bottom: px(48);
}

.mb_88 {
    margin-bottom: px(88);
}

.mb_92 {
    margin-bottom: px(92);
}

.pb_200 {
    padding-bottom: px(200);
}

.partition_ec {
    display: inline-block;
    width: 100%;
    height: px(3);
    background-color: #ececec;
}